:root{
    /* font styles */
    --nav-font: "JetBrains Mono";
    --heading-font: "Righteous";
    --paragraph-font: "Josefin Sans";
    --blockquote-font: "Josefin Sans";

    /* font sizes */
    --font-base: 18px;
    --h1-font-size: calc(var(--font-base)*.9);
    --h2-font-size: calc(var(--font-base)*2);
    --h3-font-size: calc(var(--font-base)*1.6);
    --h4-font-size: calc(var(--font-base)*1.3);
    --p-font-size: var(--font-base);
    --blockquote-font-size: calc(var(--font-base)*1.2);

    /* line height */
    --h1-line: var(--font-base);
    --h2-line: calc(var(--font-base)*2.2);
    --h3-line: calc(var(--font-base)*1.8);
    --h4-line: calc(var(--font-base)*1.5);
    --p-line: calc(var(--font-base)*1.1);
    --blockquote-line: calc(var(--font-base)*1.4);

    /* colors */
    --light-color: #fdf7e7; 
    --dark-color: #190905;
    --highlight-color1: #F9451D;
    --highlight-color2: #d9ff00;
    --highlight-color3: #00ff40;
    --highlight-color4: #1c33ff;

    /* line */
    --line: var(--dark-color) solid 1px;
}

/*MOBILE TO START*/
* {
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--light-color);
    scroll-behavior: smooth;
    color: var(--dark-color);
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-bottom: var(--line);
}

.header-class{
    margin: 0;
    text-align: start;
}

.header-name{
    margin: 0;
    text-align: end;
}

h1{
    font-family: var(--nav-font);
    font-size: var(--h1-font-size);
    margin-top: 16px;
    margin-bottom: 32px;
}

.nav{
    font-family: var(--heading-font);
    font-size: var(--h2-font-size);
    line-height: var(--h2-line);
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: auto;
}

.neutral{
    background-color: var(--highlight-color1);
    width: 90%;
    padding: 16px;
    border-radius: 0px 100px 100px 0px;
}

.teach{
    background-color: var(--highlight-color2);
    width: 90%;
    padding: 16px;
    margin-top: 24px;
    margin-bottom: 24px;
    border-radius: 0px 100px 100px 0px;
}

.international{
    background-color: var(--highlight-color3);
    width: 90%;
    padding: 16px;
    margin-top: 24px;
    margin-bottom: 24px;
    border-radius: 0px 100px 100px 0px;
}

h2{
    font-family: var(--heading-font);
    font-size: var(--h2-font-size);
    line-height: var(--h2-line);
    color: var(--highlight-color4);
    margin: 24px;
}

p{
    font-family: var(--paragraph-font);
    font-size: var(--font-base);
    line-height: var(--p-line);
    text-align: left;
    margin: 24px;
}

footer{
    font-family: var(--nav-font);
    font-size: var(--h1-font-size);
    border-top: var(--line);
    padding: 16px;
    display: flex;
}

/*@media (min-width: 1280px)*/