:root{
    /* font sizes*/
    --size-1: 18px;
    --size-2: 24px;
    --size-3: 36px;
    --size-4: 48px;
    --size-5: 64px;
    --size-6: 80px;

    /* font styles*/
    --main-font: "Lato";
    --heading-font: "Montagu Slab";
    --blockquote-font: "Montagu Slab";
    --navigation-font-size: 3.5em;

    /* colors */
    --light-color: #FFFBF1;
    --dark-color: #050100;
    --highlight-color1: #F9451D;
    --highlight-color2: #d9ff00;
    --highlight-color3: #00ff40;
    --highlight-color4: #1c33ff;
}

/*MOBILE TO START*/
h1{
    font-family: var(--main-font);
    font-size: var(--size-2);
    text-align: center;
    margin: .5em;
}

h2{
    font-family: var(--main-font);
    font-size: var(--size-3)
}

nav>ul>li{
    font-family: var(--heading-font);
    font-size: var(--size-3);
    padding: .25em;
    border: var(--dark-color) 1px solid;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: auto;
    width: 100%;
}

ul{
    margin-top: .5em;
    margin-bottom: .5em;
}

em{
    font-family: var(--blockquote-font);
}

p{
    font-family: var(--main-font);
    font-size: var(--size-1);
    text-align: center;
    margin: 1em;
}

footer{
    margin: 1em;
}

/*@media (min-width: 1280px)*/