:root{
    --main-font: "Lato";
    --heading-font: "Montagu Slab";
    --blockquote-font: "Montagu Slab";
    --navigation-font-size: 3.5em;
    background-color: var(--dark-color);
    color: var(--light-color);
}

nav>ul>li {
    border: var(--highlight-color1) 1px solid;
}
h2{
    font-family: var(--main-font);
    font-size: var(--size 1);
    margin-top: .5em;
}

h3{
    font-family: var(--main-font);
    font-size: var(--size-3)
}

h4{
    font-family: var(--main-font);
    font-size: var(--size-1)
}

p{
    font-family: var(--main-font)
}

blockquote{
    font-family: var(--blockquote-font)
}